    //Botón
    .btn__postular {
        @include btn__base;
    }
    
    .btn__info {
        width: 100%;
        height: 10vh;
        background-color: green;
        color: red;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    }
    
    .btn__productora {
        width: 80%;
        height: 40px;
        background-color: red;
        // border-radius: 10px 10px 0px 0px;
    }
    
    //Talleres
    .btn__taller {
        @include btn__base;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #F0B975;
        width: 100%;
        a {
            list-style: none;
            color: white;
        }
    }
    
    @media (min-width: 768px) {
        .btn__postular {
            width: 15vw;
            height: 8vh;
            margin-top: 1rem;
        }
    }
    
    // F0B975