@mixin btn__base {
    width: 200px;
    height: 50px;
    background-color: #D34728;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    font-family: $font-basico;
    font-size: $font-size-md;
}

@mixin sombra {
    text-shadow: 2px 2px 3px #080718;
    // text-shadow: 2px 2px 5px #4845e2;
}