/* Error: Expected identifier.
 *    ,
 * 29 |     font-family: $$oswald;
 *    |                   ^
 *    '
 *   assets\sass\base\_typography.scss 29:19  @import
 *   assets\sass\main.scss 9:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 29 \2502      font-family: $$oswald;\d\a    \2502                    ^\a    \2575 \a   assets\\sass\\base\\_typography.scss 29:19  @import\a   assets\\sass\\main.scss 9:9                root stylesheet";
}
