//Sección de info//
// .fa {
//     font-size: 8rem!important;
// }

/*Productora*/

// #festivales {
//     height: 100vh;
// }
hr {
    border-top: 3px solid $blanco;
    width: 50%;
}

// #talleres hr {
//     border-top: 3px solid $blanco;
// }
@media (min-width:764px) {
    hr {
        border-top: 5px solid $blanco;
        ;
        width: 100%;
    }
}

#productora-home {
    padding: 8vw;
    // background-image: linear-gradient( rgb(65, 255, 223), rgb(255, 102, 0));
    background-image: (linear-gradient( rgba(255, 95, 23, 1) 0%, rgba(255, 95, 23, 1) 67%, rgba(222, 68, 3, 1) 100%));
    min-height: 95vh;
}

@media (min-width:764px) {
    .titulo__productora {
        width: 100%;
        text-align: center;
    }
    .productora_img {
        height: auto;
        max-width: 100%;
    }
}