.productora {
    padding: 8vw;
    //  background-image: linear-gradient( white, white, white, rgba(255, 255, 255, 0));
    height: 100%;
}

@media (min-width:764px) {
    .titulo__productora {
        width: 100%;
        text-align: center;
    }
    .productora_img {
        height: auto;
        max-width: 100%;
    }
}