p {
    font-size: 0.8rem;
}


/*Talleres*/


/* #talleres {
    background-color: rgba(255, 255, 255, 0.3); 
} */


/*Foto taller*/

.foto_taller {
    width: 100%;
}

.perfil {
    width: 150px;
    height: 150px;
}

.tarjetas {
    background-image: linear-gradient(rgba(255, 255, 255, 1) rgba(158, 30, 30, 0));
}